.detailed-data {
  margin-left: 800px;
  margin-top: 70px;
  position: absolute;
}

.unoccupied-cars-container {
  margin-top: 70px;
}

.utilization-container {
  margin-top: 26px;
}

#chart {
  margin-top: 65px;
  margin-left: 90px;
}

h2 {
  font-family: Blanch-Caps;
  font-size: 40pt;
}