<h2>Car Details</h2>
<div>
  <table class="table">
    <tr>
      <td>
        Make
      </td>
      <td>
        <%= make %>
      </td>
    </tr>
    <tr>
      <td>
        Model
      </td>
      <td>
        <%= model %>
      </td>
    </tr>
    <tr>
      <td>
        State
      </td>
      <td>
        <%= state %>
      </td>
    </tr>
    <tr>
      <td>
        Car ID
      </td>
      <td>
        <%= _id %>
      </td>
    </tr>
  </table>
  <% if(stateSymbol === "U") { %>
  <input class="datepicker reserve-date">
  <button class="change-state" data-action="reserve" data-id="<%= _id %>">Reserve</button>
  
  <% } %>
  <% if(stateSymbol === "UP") { %>
  <button class="change-state" data-action="occupy" data-id="<%= _id %>">Occupy</button>
  <% } %>
  <% if(stateSymbol === "O") { %>
  <input class="datepicker reserve-date">
  <button class="change-state" data-action="scheduleReturn" data-id="<%= _id %>">Schedule a return</button>
  <% } %>
  <% if(stateSymbol === "OP") { %>
  <button class="change-state" data-action="vacate" data-id="<%= _id %>">Vacate</button>
  <% } %>
</div>