<table class="table unoccupied-cars-table">
  <tr>
    <th>Car ID</th>
    <th>Make</th>
    <th>Model</th>
    <th>State</th>
  </tr>
  <% _.each(unoccupiedCars, function(car) { %>
  <tr>
    <td><%= car._id %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <% if(car.state === "U") { %>
    <td>Unoccupied</td>

    <% } %>
    <% if(car.state === "UP") { %>
    <td>Unoccupied, but pending pickup</td>
    <% } %>
    <% if(car.state === "O") { %>
    <td>Occupied</td>
    <% } %>
    <% if(car.state === "OP") { %>
    <td>Occupied, but pending return</td>
    <% } %>
  </tr>
  <% }); %>
</table>